python-barcode
altair
py3o.template==0.10.0
py3o.formats==0.3
cubiscan
mock
# web_widget_bokeh_chart
bokeh==1.1.0
# web_widget_mpld3_chart
matplotlib>=2.0.0
mpld3==0.3
linkedin
mechanicalsoup
mechanize
pandas
